@import url('https://fonts.googleapis.com/css2?family=Montez&display=swap');

:root {
  --color-blue-main: #00fbff;
  --color-gray-sub: #f3f3f1;
  --color-gray-main: #6e6d7a;
  --color-black-main: #000000;
  --color-white-main: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
}

.montez-regular {
  font-family: 'Montez', cursive;
  font-weight: 400;
  font-style: normal;
}

.logo {
  font-size: 2.5rem;
  color: var(--color-black-main);
  text-decoration: none;
}

.body {
  padding-inline: 10.6rem;
  padding-block: 1rem;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
}

.header {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  align-items: start;
}

.header__leftPart {
  display: flex;
  gap: 10.6rem;
  align-items: center;
}

.header__sub {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__cart__info {
  width: 14rem;
  height: 6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 1rem;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 1rem;
  background-color: var(--color-gray-sub);
  text-decoration: none;
  color: var(--color-black-main);
}

.header__cart__title {
  font-weight: 600;
}

.navList {
  list-style: none;
  display: flex;
  gap: 1rem;
}

.navList__item {
  text-decoration: none;
}

.navList__item__href {
  text-decoration: none;
  color: var(--color-black-main);
}

.circle {
  border-radius: 50%;
}

.search__container {
  position: relative;
  width: 25rem;
  height: 3.5rem;
  padding: 1rem 0 1rem 1.5rem;
  background-color: var(--color-gray-sub);
  border-radius: 1.5rem;
}

.search__circle {
  height: 2.75rem;
  width: 2.75rem;
  background-color: var(--color-blue-main);
  position: absolute;
  top: 50%;
  right: 0.5rem;
  transform: translateY(-50%);
  cursor: pointer;
  border: none;
}

.search__input {
  width: 100%;
  height: 100%;
  outline: none;
  border: none;
  margin-right: 2rem;
  background-color: transparent;
}

.search__circle__svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

footer {
  margin-top: auto;
}
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__socials {
  display: flex;
  gap: 1rem;
  align-items: center;
}
